/*顶部导航开始*/
.top{
	/*height: 40px;*/
	background: #333;
}
 .top .top-nav{
	float: left;
	/*width: 400px;*/
	height: 40px;
	line-height: 40px;
	/*background-color: green;*/
}
.top .top-nav .top-nav-itrm{
	float: left;
	cursor: pointer;	
}
.sep{
	font-size:12px; 
	color:#3a4142;
	margin:0 8px;
}
.top .user-info{
	float: right; 
	line-height: 40px;
	margin-right: 26px;
	height: 40px;
	width: 220px;
}
.top .user-info .user-info-item{
		float: left;
}
.top .cart{
	position: relative;
	/*width: 120px;*/
	line-height: 40px;
	height: 40px;
	text-align: center;
	float: right;
}
.top .cart:hover .cart-box{
	background-color: #fff;
	
}
.top .cart:hover .cart-box{
	color: #ff6700;
}
.top .cart:hover a{
	color: #ff6700;
}
.top .cart .cart-box{
	position: relative;
	z-index: 1000;
}
.top .cart .cart-box{
	font-size: 16px;
	color: #b0b0b0;

}
.top .cart .cart-content{
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	height: 0;
	background: #fff;
	overflow: hidden;
	z-index: 999;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

}
.top .cart .cart-content .empty-content{
	display: none;
	font-size: 12px;
	margin-top: 40px;
}
/*顶部导航结束*/

/*logo区域信息开始*/
.header{
	/*height: 100px;*/
	/*s*/
}
.header .logo{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
}
.header .logo a{
	width: 100%;
	height: 100%;
	text-indent: -999em;
	display: block;
	background-image:url(../img/logo.png);
	background-position: center center;
}
.header .header-nav{
	float: left;
	/*width: 662px;*/
	height: 100px;
	line-height: 100px;
	margin-left: 188px;
/*	background-color: green;
*/
}
.header .header-nav .header-nav-item{
	float: left;
	font-size: 16px;
	color: #333333;
	margin-right:20px; 
	cursor: pointer;
}
.header .header-nav .header-nav-item:hover{  
	color: #ff6700;
}
.header .search{
	position: relative;
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	/*background-color: pink;*/
}
.header .search:hover .search-input,
.header .search:hover .search-btn{
	border-color: #aaa;
}
.header .search .search-input{
	float: left;
	width: 244px;
	height: 50px;
	padding: 8px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	outline: none;
	transition: all 300ms;
}
.header .search .search-input:focus,
.header .search .search-input:focus ~ .search-btn{
	border-color: #ff6700;

}
.header .search .search-input:focus ~ .search-list{
	display: block;
}
.header .search .search-input:focus ~ .search-keywords{
	display: none;
}
.header .search .search-btn{
	float: left;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	line-height: 50px;
	border-left: none;
	box-sizing: border-box;
	text-align: center;
	transition: all 300ms;
}
.header .search .search-btn:hover{
	background-color: #ff6700;
	border: none;
	cursor: pointer;
}
.header .search .search-btn:hover .fa-search{
	color: #fff;
}
.header .search .search-btn .fa-search{
	font-size:23px;
	color: #616161; 
}
.header .search .search-keywords{
	position: absolute;
	top: 16px;
	left: 118px;
	font-size: 9px;
	color:#757578;
}
.header .search .search-keywords .search-keywords-content{
	background: #eee;
	padding: 0 6px;
}
.header .search .search-keywords .search-keywords-content:hover{
	background-color: #ff6700;
	color: #fff;
	cursor: pointer;
}
.header .search .search-keywords .search-keywords-content:first-child{
	margin-right: 6px;
}
.header .search .search-list{
	position: absolute;
	top: 49px;
	left: 0;
	width: 244px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background-color: #fff;
	display: none;
	z-index: 2;
}
.header .search .search-list-item{
	width: 100%;
	height: 24px;
	line-height: 24px;
}
.header .search .search-list-item:hover{
	background-color: #ccc;
}
.header .search .search-list-item .search-list-item-name{
	float: left;
	color: #3f3d3d;
	margin-left: 10px;
}
.header .search .search-list-item .search-list-item-num{
	float: right;
	margin-right: 10px;
}
/*logo区域信息结束*/

/*焦点区域开始*/
.home{

	/*height: 1274px;*/
	/*background-color: purple;*/
}
.home .banner{
	position: relative;
	width: 100%;
	height: 460px;
	margin-bottom: 14px;
	/*background-color: green;*/
	
}
.home .banner .coursel-content{
	position: absolute;
	top: 0;
	left: 234px;
	width: 800px;
	height: 460px;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	display: none;
}
.home .banner .coursel-content li{
	position: relative;
	float: left;
	width: 140px;
	height: 80px;
	margin-right: 20px;

}
.home .banner .coursel-content a{
	width: 140px;
	height: 60px;
}
.home .banner .coursel-content a img{
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.home .banner .coursel-content a span{
	position: absolute;
	top: 20px;
	left: 70px;
}
.home .banner .coursel-content a:hover span{
	color: #ff6700
}
.home .banner .cate{
	position: absolute;
	top: 0;
	left: 0;
	width: 234px;
	height: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background-color:rgba(0,0,0,0.4);
	z-index: 999; 
}
.home .banner .cate .cate-list-item{
	width: 100%;
	height: 44px;
	line-height: 44px;
}
.home .banner .cate .cate-list-item:hover{
	background-color: #ff6700;
}
.home .banner .cate .cate-list-item a{
	font-size: 14px;
	color: #fff;
}
.home .banner .cate .cate-list-item .cate-list-item-name{
	float: left;
	margin-left: 30px;
}
.home .banner .cate .cate-list-item .fas{
	float: right;
	margin-right: 30px;
}
/*
.home .banner .coursel{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: red;

}
.home .banner .coursel .coursel-list{
	width: 100%;
	height: 100%;

}
.home .banner .coursel .fas{
	position: absolute;
	top:50%;
	left: 234px;
	width: 50px;
	height: 70px;
	margin-top: -35px;
	line-height: 70px;
	font-size: 30px;
	color: #d5d4d1;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	cursor: pointer;
}
.home .banner .coursel .fas-right{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	left: 1350px;
}
.home .banner .coursel .fas-left{
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.home .banner .coursel .coursel-list li{
	position: absolute;
	top: 0；
	left：0；
	width: 100%;
	height: 100%;
}
.home .banner .coursel .coursel-list li img{
	width: 100%;
	height: 100%;
}
.home .banner .coursel .coursel-btns{
	position: absolute;
	right: 34px;
	bottom: 20px;
	z-index: 999;
}
.home .banner .coursel .coursel-btns li{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	background-color: #979590;
	border: 1px solid #979590;
	border-radius: 50%;
}
*/
.home .banner img{
	width: 100%;
	height: 100%;
}
.home .banner .leftbtn,.rightbtn{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 50px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background: rgb(0,0,0,0.3);
	cursor: pointer;

}
.home .banner .leftbtn{
	left: 234px;
}
.home .banner .rightbtn{
	right: 0;
}
.home .banner .bottom-btn{
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 999;
}
.home .banner .bottom-btn li{
	float: left;
	margin-right: 15px;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	background:  rgb(0,0,0,0.5);
	border-radius: 50%;
	
}
/*加空格是后代 不加是交集*/
.home .banner .bottom-btn li.active{  
	background:red;

}



.home .hot{
	margin-bottom: 14px;
	height: 170px; 
	/*background-color: yellow;*/
}
.home .hot .col1{
	height: 170px;
	background-color: #5f5750;
}
.home .hot .channel{
	width: 100%;
	height: 100%;
}
.home .hot .channel .channel-item{
	position: relative;
	float: left;
	width: 78px;
	height: 85px;
	padding-top: 22px; 
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
}
.home .hot .channel .channel-item .fas,.far,.fal{
	font-size: 24px;
}
.home .hot .channel .right-line:after{
	position: absolute;
	top: 8px;
	right: 0;
	width: 1px;
	height: 70px;
	background-color:#b0b0b0;
	content: ""; 
}
.home .hot .channel .top-line:before{
	position: absolute;
	top: 0px;
	left:5px;
	width: 70px;
	height: 1px;
	background-color:#b0b0b0;
	content: ""; 
}
.home .hot .col2{
	height: 100%;
	/*background-color: red;*/
}
.home .hot-ad{
	width: 100%;
	height: 100%;
}
.home .hot-ad li{
	float: left;
	width: 316px;
	height: 100%;
	margin-left: 16px;
	transition: all 300ms;
}
.home .hot-ad li:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.home .hot-ad li:first-child{
	margin-left: 0;
}
.home .hot-ad li img{
	width: 100%;
	height: 100%;
}
/*标题共同部分样式开始*/
.flash{
	margin-bottom: 42px;
}
.flash .hd{
	width: 100%;
	height: 60px;
	line-height: 60px;
	/*background-color: red;*/
}
.flash .hd .title{
	float: left;
	font-size: 22px;
	color: #333;
}
.flash .hd .more{
	float: right;
}
.flash .bd{
	width: 100%;
	height: 382px;
	/*background-color: blue;*/
}
.flash .timer{
	border-top: 1px solid #e53935;
	background-color: #f1eded;
	height: 340px;
	text-align: center;
	box-sizing: border-box;
}
.flash .timer .time-name{
	font-size: 20px;
	color: #ef3a61;
	margin-top:60px;
}
.flash .timer img{
	margin:34px 0;
} 
.flash .timer .time-end{
	font-size: 14px;
	margin-bottom: 34px;
	color: #706f6f; 
} 
.flash .timer .time-num{
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	background-color: #605751;
}
.flash .timer .dash{
	font-size: 18px;
	color: #605751;
	font-weight: bold;
}
.flash .bd-area{
	height: 340px;
	/*background-color: red;*/
}
/*商品共同开始*/
.flash .product-item{
	height: 340px;
}
.product-item{
	position: relative;
	float: left;
	width: 234px;
	margin-right: 14px;
	text-align: center;
	padding: 0 14px;
	box-sizing: border-box;
}

.product-item .flage{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left:-40px;
	font-size: 12px;
	width: 80px;
	height: 20px;
	color: white;
	background: red;
}
.product-item .off-flage{
	background: red;
}
.product-item .new-flage{
	background: green;
}
/*商品共同结束*/
.flash .product-item:nth-child(1){
	border-top: 1px solid #ff6700;
}
.flash .product-item:nth-child(2){
	border-top: 1px solid #83c44e;
}
.flash .product-item:nth-child(3){
	border-top: 1px solid #2196f3;
}
.flash .product-item:nth-child(4){
	border-top: 1px solid #e53935;
}
 .product-item:nth-child(4){
	margin-right: 0;

}
.product-item:nth-child(8){
	margin-right: 0;

}

.product-item .product-item-name{
	font-size: 14px;
	color: #202020;
	margin-bottom: 10px;
}
.product-item .product-item-des{
		font-size: 12px;
		color: #b0adad;
		white-space: nowrap;
		text-overflow: clip;
		overflow: hidden;
}
.product-item .product-item-price{
		color: #ff6700;
		font-size: 12px;
		margin-top: 20px; 
}
.product-item .product-item-price del{
	color: #b3adad; 
	margin-right: 8px;
}
.product-item img{
	margin:46px 0 36px 0; 
	width: 128px;
	height: 148px;
}
.flash .product-item .bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	opacity: 0.1;
}
/*广告样式共同区域开始*/
.ad{
	margin-bottom: 42px;
	height: 120px;
}
.ad img{
	width: 100%;
	height: 100%;
}
/*广告样式共同区域结束*/
/*焦点区域结束*/

/*产品区域开始*/
.main{
	margin-bottom: 42px;
	height: 2086px;
	background-color: #f5f5f5;
}
.main .ad{
	margin-top: 42px;
}
.phone .phone-area{
	/*height: 618px;*/
	/*background-color: red;*/
}
.phone .phone-left{
	height: 618px;
	transition: all 300ms;

}
.phone .phone-left:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.phone .phone-right{
	height: 618px;
}
.phone .phone-right .product-item{
	height: 300px;
	background: #fff;
}
/*视频开始mian*/

.mian .videos .hd .title{
	float: left;
	font-size: 22px;
	color: #333333;
}
.hd .more{
	float: right;
	
}
.hd .more .content{
	font-size: 16px;
	color: #424242;
}
.hd .more .quan{
	display: inline-block;
	width: 20px;
	height: 20px;
	background:#b0b0b0; 
	border: 1px solid #b0b0b0;
	font-size: 16px;
	border-radius: 50%;
	box-sizing: border-box; 
}
.hd .more .quan .fas{
	color: #fff;
	text-align: center;
	padding-left: 2px;
	padding-top: 3px;
}
.hd .more a:hover .content,
.hd .more a:hover .fas{
	color: #ff6700;

}
.main .videos .hd{
	height: 40px;
}
.main .videos .hd{
	margin-bottom: 10px;
	
}
.main .videos .bd:hover .videos-item{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
	color: #ff6700;
}
.main .videos .hd .bd{
	/*height: 290px;*/
	/*background: red;*/
}
.videos .videos-item{
	position: relative;
	float: left;
	width: 292px;
	height: 265px;
	/*background: pink;*/
	margin-right: 15px;
	transition: all 300ms;
}
.videos .videos-item img{
	width: 100%;

}
.videos .videos-item .videos-item-qq{
	position: absolute;
	width: 30px;
	height: 20px;
	bottom: 100px;
	left: 15px;
	border: 2px solid #fff;
	border-radius: 10px;
}
.videos .videos-item .videos-item-qq:hover{
	color: #ff6700;
}
.videos .videos-item .fas{
	padding-left: 7px;
	color: #fff;
}
.videos .videos-item .videos-content-name{
	margin-left: 24px;
	font-size: 17px;
	color: #333333;

}
.videos .videos-item .videos-content-ds{
	font-size: 14px;
	color: #ccb7b0;
	margin-bottom:15px;
	margin-left: 24px;
}
.elec .hd{
	height: 60px;
}
.elec .hd .title{
	font-size: 20px;
	float: left;
	color: #424242;
	line-height: 30px;
}
.elec .more .tab-item{
	float: right;
	font-size: 16px;
	color: #424242;
	line-height: 30px;
	margin-left: 32px;
	transition: all 300ms;
}

.elec .more .tab-item .tab-item-avtive{
	color: #ff6700;
	border-bottom:2px solid #ff6700;
}
.elec .more .tab-item:hover{
	color: #ff6700;
	border-bottom:2px solid #ff6700;
}
.elec .col1{
	height: 614px;
	/*background-color: blue;*/
}
.elec .col1 ul{
	width: 100%;
	height: 100%;
}
.elec .col1 li:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.elec .col1 .product-item{
	width: 100%;
	height: 300px;
	padding: 0;
	margin:0;
}
.product-item:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.elec .col1 .product-item:first-child{
	margin-bottom: 14px;
}
.elec .col1 .product-item img{
	width: 100%;
	height: 100%;
	margin:0;
}
.elec .col2{
	height: 614px;
	/*background-color: blue;*/
}
.elec .col2 .product-item{
	height: 300px;
}
/*评论共同样式开始*/
.views{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	/*padding: 10px 30px;*/
	box-sizing: border-box;
	background: #ff6700;
	text-align: left;
	height: 0;
	overflow: hidden;
	transition: all 300ms;
}
.elec .col2 .product-item:hover .views{
	height: 80px;
}
 .views .commen{
	margin:10px 30px;
	font-size: 12px;
	color:#fff;
}
 .views .author{
	font-size: 12px;
	color:#eee;
	margin-left: 30px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
}
/*评论共同样式结束*/
.elec .col2 .product-area{
	float: left;
	width: 234px;
	height: 300px;
	/*background: pink;*/

}
.elec .col2 .product-area .product-area-top{
	position: relative;
	width: 100%;
	height: 143px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 14px;

}
.elec .col2 .product-area .product-area-top:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.elec .col2 .product-area .product-area-top img{
	position: absolute;
	top: 46px;
	right: 42px;
}

.elec .col2 .product-area .product-area-top .product-area-top-des{
	font-size: 14px;
	margin:42px 0 14px 30px;
	color: #333333;
	width: 90px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

}
.elec .col2 .product-area .product-area-top strong{
	font-size: 12px;
	color: #ff6700;
	margin-left: 30px;
}
.elec .col2 .product-area .product-area-bottom{
	position: relative;
	width: 100%;
	height: 143px;
	background-color: #fff;
	overflow: hidden;
}
.elec .col2 .product-area .product-area-bottom:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.elec .col2 .product-area .product-area-bottom .product-area-bottom-name{
	font-size: 18px;
	margin:42px 0 14px 30px;
	color: #333;
}
.elec .col2 .product-area .product-area-bottom .product-area-bottom-hot{
	font-size: 13px;
	margin-left: 30px;
	color: #7d7d7d;
}
.elec .col2 .product-area .product-area-bottom .fas{
	position: absolute;
	top: 61px;
	left: 143px;
	font-size: 35px;
	color: #ff6700;
}

/*产品区域结束*/

/*底部导航信息开始*/
.footer{

	/*height: 274px;*/
	/*background-color: green;*/
}
.footer .service-item{
	border-bottom:1px solid #e0e0e0;
	height: 80px;
	margin-bottom: 41px;
}
.footer .service-item .service-list-item-name{
	float: left;
	width: 19%;
	font-size: 16px;
	color: #616161;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	transition: all 300ms;
}
.footer .service-item .service-list-item-name .fas{
	font-size: 22px;
	margin-right: 5px;
}
.footer .service-item .service-list-item-name:hover{
	color: #ff6700;
}

.footer .service-item .service-list-item-name:last-child{
	border-right: none;
}
.footer .links{
	margin-bottom: 41px;
	/*height: 180px;*/
	/*background-color: blue;*/
}
.footer .links .links-item{
	float: left;
	width: 167px;
	height: 112px;
	text-align: center;
	border-right: 1px solid #e0e0e0;
}
.footer .links .links-item:nth-child(1){
	border-right:none;
}
.footer .links .links-item:nth-child(2){
	border-right:none;
}
.footer .links .links-item:nth-child(3){
	border-right:none;
}
.footer .links .links-item:nth-child(4){
	border-right:none;
}
.footer .links .links-item:nth-child(5){
	border-right:none;
}
.footer .links .links-item dt{
	font-size: 18px;
	color: #424242;
	margin-bottom: 10px;
}
.footer .links .links-item dd{
	font-size: 14px;
	color: #757575;
	margin-bottom: 8px;
}
.footer .links .links-item dd:hover{
	color: #ff6700;
}
.footer .links .links-zz{
	float: right;
	margin-left: 14px;
	width: 200px;
	height: 112px;
	text-align: center;
}
.footer .links .links-zz .links-zz-num{
	color: #ff6700;
	font-size: 18px;
	margin-bottom: 11px;
}
 .footer .links .links-zz .links-zz-day{
 	font-size: 12px;
 	color: #616161;
 	margin-bottom: 7px;
 }
 .footer .links .links-zz .links-zz-huafei{
 	font-size: 11px;
 	color:#616161;
 	margin-bottom: 18px;
 }
 .footer .links .links-zz a{
 	width: 120px;
 	height: 30px;
 	color:#ff6700;
 	border: 2px solid #ff6700;
 }
 .footer .links .links-zz a:hover,
 .footer .links .links-zz a:hover .fas{
 	color: #fff;
 }
 .footer .links .links-zz .fas{
 	font-size: 11px;
 	color:#ff6700;
 }
/*底部导航信息结束*/

/*网站结束信息开始*/
.end{
	/*height: 162spx;
	background-color: skyblue;*/
	padding: 30px 0;
	background: #fafafa;
}
.end .end-top{

}
.end .end-top .logo{
	width: 60px;
	height: 60px;
	background-color: #ff6700;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}
.end .end-top .site{
	margin-left: 20px;
	float: left;
	width: 694px;
	height: 80px;
	text-align: left;
}
.end .end-top .site .site-links a{
	font-size: 14px;
	color: #757575;
}
.end .end-top .site .site-links a:hover{
	color: #ff6700;
}
.end .end-top .site .site-content{
	font-size:12px; 
	margin-bottom:4px;
	color：#b0b7ca;
}
.end .end-top .company{
	float: right;

}
.end .end-bottom{
	width: 270px;
	height: 24px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 34px;
	background-image: url(../img/slogan.png);
	background-repeat: no-repeat;
}
/*网站结束信息结束