.navbar{
	cursor: pointer;
}
.navbar .navbar-brand:hover{
	color: #ff00ff;
}
#list li a{
	font-size: 16px;
}
#list li{
	margin-right: 25px;
}
#list li:hover a{
	color: #ff00ff;
}
 #list li:nth-child(1) a{
 	background: transparent;
 }