body{
	font-size: 14px;
}
.container{
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/* 清除浮动开始 */
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
/*清除浮动结束*/
a{
	font-size: 15px;
	color: #000;
	text-decoration-line: none;
}
.transition{
	transition: all 0.5s;
}
.dropdown-laoding{
	width: 80px;
	height: 60px;
	background: #fff;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.curousel-loading{
	position: absolute;
	top: 0;
	left: 520px;
	display: none;
}