.top{
	height: 40px;
	background: gray;
}

.top .list{
	width: 300px;
	background: green;
}
.top .denglu{
	width: 150px;
	background: blue;
}
.top .cart{
	width: 100px;
	background: yellow;
}