/*顶部导航开始*/
.top{
	/*height: 40px;*/
	background: #333;
}
 .top .top-nav{
	float: left;
	/*width: 400px;*/
	height: 40px;
	line-height: 40px;
	/*background-color: green;*/
}
.top .top-nav .top-nav-itrm{
	float: left;
	cursor: pointer;	
}
.sep{
	font-size:12px; 
	color:#3a4142;
	margin:0 8px;
}
.top .user-info{
	float: right; 
	line-height: 40px;
	margin-right: 26px;
	height: 40px;
}
.top .user-info .user-info-item{
		float: left;
}
.top .cart{
	/*width: 120px;*/
	line-height: 40px;
	height: 40px;
	text-align: center;
	float: right;
}
.top .cart:hover{
	background-color: #fff;
	
}
.top .cart:hover .cart-box{
	color: #ff6700;
}
.top .cart:hover a{
	color: #ff6700;
}
.top .cart .cart-box{
	font-size: 16px;
	color: #b0b0b0;

}
/*顶部导航结束*/

/*logo区域信息开始*/
.header{
	/*height: 100px;*/
	/*s*/
}
.header .logo{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background-color: #ff6700;
}
.header .logo a{
	width: 100%;
	height: 100%;
	text-indent: -999em;
	display: block;
	background-image:url(../img/logo.png);
	background-position: center center;
}
.header .header-nav{
	float: left;
	/*width: 662px;*/
	height: 100px;
	line-height: 100px;
	margin-left: 188px;
/*	background-color: green;
*/
}
.header .header-nav .header-nav-item{
	float: left;
	font-size: 16px;
	color: #333333;
	margin-right:20px; 
	cursor: pointer;
}
.header .header-nav .header-nav-item:hover{  
	color: #ff6700;
}
.header .search{
	position: relative;
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	/*background-color: pink;*/
}
.header .search:hover .search-input,
.header .search:hover .search-btn{
	border-color: #aaa;
}
.header .search .search-input{
	float: left;
	width: 244px;
	height: 50px;
	padding: 8px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	outline: none;
	transition: all 300ms;
}
.header .search .search-input:focus,
.header .search .search-input:focus ~ .search-btn{
	border-color: #ff6700;

}
.header .search .search-input:focus ~ .search-list{
	display: block;
}
.header .search .search-input:focus ~ .search-keywords{
	display: none;
}
.header .search .search-btn{
	float: left;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	line-height: 50px;
	border-left: none;
	box-sizing: border-box;
	text-align: center;
	transition: all 300ms;
}
.header .search .search-btn:hover{
	background-color: #ff6700;
	border: none;
	cursor: pointer;
}
.header .search .search-btn:hover .fa-search{
	color: #fff;
}
.header .search .search-btn .fa-search{
	font-size:23px;
	color: #616161; 
}
.header .search .search-keywords{
	position: absolute;
	top: 16px;
	left: 118px;
	font-size: 9px;
	color:#757578;
}
.header .search .search-keywords .search-keywords-content{
	background: #eee;
	padding: 0 6px;
}
.header .search .search-keywords .search-keywords-content:hover{
	background-color: #ff6700;
	color: #fff;
	cursor: pointer;
}
.header .search .search-keywords .search-keywords-content:first-child{
	margin-right: 6px;
}
.header .search .search-list{
	position: absolute;
	top: 49px;
	left: 0;
	width: 244px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background-color: #fff;
	display: none;
	z-index: 2;
}
.header .search .search-list-item{
	width: 100%;
	height: 24px;
	line-height: 24px;
}
.header .search .search-list-item:hover{
	background-color: #ccc;
}
.header .search .search-list-item .search-list-item-name{
	float: left;
	color: #3f3d3d;
	margin-left: 10px;
}
.header .search .search-list-item .search-list-item-num{
	float: right;
	margin-right: 10px;
}
/*logo区域信息结束*/

/*焦点区域开始*/
.home{

	/*height: 1274px;*/
	/*background-color: purple;*/
}
.home .banner{
	position: relative;
	width: 100%;
	height: 460px;
	margin-bottom: 14px;
	/*background-color: green;*/
	
}
.home .banner .cate{
	position: absolute;
	top: 0;
	left: 0;
	width: 234px;
	height: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background-color:rgba(0,0,0,0.4);
	z-index: 999; 
}
.home .banner .cate .cate-list-item{
	width: 100%;
	height: 44px;
	line-height: 44px;
}
.home .banner .cate .cate-list-item:hover{
	background-color: #ff6700;
}
.home .banner .cate .cate-list-item a{
	font-size: 14px;
	color: #fff;
}
.home .banner .cate .cate-list-item .cate-list-item-name{
	float: left;
	margin-left: 30px;
}
.home .banner .cate .cate-list-item .fas{
	float: right;
	margin-right: 30px;
}
.home .banner .coursel{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: red;
*/
}
.home .banner .coursel .coursel-list{
	width: 100%;
	height: 100%;

}
.home .banner .coursel .fas{
	position: absolute;
	top:50%;
	left: 234px;
	width: 50px;
	height: 70px;
	margin-top: -35px;
	line-height: 70px;
	font-size: 30px;
	color: #d5d4d1;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	cursor: pointer;
}
.home .banner .coursel .fas-right{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	left: 1350px;
}
.home .banner .coursel .fas-left{
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.home .banner .coursel .coursel-list li{
	position: absolute;
	top: 0；
	left：0；
	width: 100%;
	height: 100%;
}
.home .banner .coursel .coursel-list li img{
	width: 100%;
	height: 100%;
}
.home .banner .coursel .coursel-btns{
	position: absolute;
	right: 34px;
	bottom: 20px;
	z-index: 999;
}
.home .banner .coursel .coursel-btns li{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	background-color: #979590;
	border: 1px solid #979590;
	border-radius: 50%;
}
.home .hot{
	margin-bottom: 14px;
	height: 170px; 
	/*background-color: yellow;*/
}
.home .hot .col1{
	height: 170px;
	background-color: #5f5750;
}
.home .hot .channel{
	width: 100%;
	height: 100%;
}
.home .hot .channel .channel-item{
	position: relative;
	float: left;
	width: 78px;
	height: 85px;
	padding-top: 22px; 
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
}
.home .hot .channel .channel-item .fas,.far,.fal{
	font-size: 24px;
}
.home .hot .channel .right-line:after{
	position: absolute;
	top: 8px;
	right: 0;
	width: 1px;
	height: 70px;
	background-color:#b0b0b0;
	content: ""; 
}
.home .hot .channel .top-line:before{
	position: absolute;
	top: 0px;
	left:5px;
	width: 70px;
	height: 1px;
	background-color:#b0b0b0;
	content: ""; 
}
.home .hot .col2{
	height: 100%;
	/*background-color: red;*/
}
.home .hot-ad{
	width: 100%;
	height: 100%;
}
.home .hot-ad li{
	float: left;
	width: 316px;
	height: 100%;
	margin-left: 16px;
	transition: all 300ms;
}
.home .hot-ad li:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.home .hot-ad li:first-child{
	margin-left: 0;
}
.home .hot-ad li img{
	width: 100%;
	height: 100%;
}
标题共同部分样式开始
.flash{
	margin-bottom: 42px;
}
.flash .hd{
	width: 100%;
	height: 60px;
	line-height: 60px;
	/*background-color: red;*/
}
.flash .hd .title{
	float: left;
	font-size: 22px;
	color: #333;
}
.flash .hd .more{
	float: right;
}
.flash .bd{
	width: 100%;
	height: 382px;
	/*background-color: blue;*/
}
.flash .timer{
	border-top: 1px solid #e53935;
	background-color: #f1eded;
	height: 340px;
	text-align: center;
	box-sizing: border-box;
}
.flash .timer .time-name{
	font-size: 20px;
	color: #ef3a61;
	margin-top:60px;
}
.flash .timer img{
	margin:34px 0;
} 
.flash .timer .time-end{
	font-size: 14px;
	margin-bottom: 34px;
	color: #706f6f; 
} 
.flash .timer .time-num{
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	background-color: #605751;
}
.flash .timer .dash{
	font-size: 18px;
	color: #605751;
	font-weight: bold;
}
.flash .bd-area{
	height: 340px;
	/*background-color: red;*/
}
/*商品共同开始*/
.flash .product-item{
	height: 340px;
}
.product-item{
	position: relative;
	float: left;
	width: 234px;
	margin-right: 14px;
	/*background-color: #fafafa;*/
	text-align: center;
	padding: 0 14spx;
	box-sizing: border-box;
}

.flash .product-item:nth-child(1){
	border-top: 1px solid #ff6700;
}
.flash .product-item:nth-child(2){
	border-top: 1px solid #83c44e;
}
.flash .product-item:nth-child(3){
	border-top: 1px solid #2196f3;
}
.flash .product-item:nth-child(4){
	border-top: 1px solid #e53935;
}
 .product-item:nth-child(4){
	margin-right: 0;

}
.product-item:nth-child(8){
	margin-right: 0;

}

.product-item .product-item-name{
	font-size: 14px;
	color: #202020;
	margin-bottom: 10px;
}
.product-item .product-item-des{
		font-size: 12px;
		color: #b0adad;
		white-space: nowrap;
		text-overflow: clip;
		overflow: hidden;
}
.product-item .product-item-price{
		color: #ff6700;
		font-size: 12px;
		margin-top: 20px; 
}
.product-item .product-item-price del{
	color: #b3adad; 
	margin-right: 8px;
}
.product-item img{
	margin:46px 0 36px 0; 
	width: 128px;
	height: 148px;
}
.flash .product-item .bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	opacity: 0.1;
}
.home .ad{
	margin-bottom: 42px;
	height: 120px;
}
.home .ad img{
	width: 100%;
	height: 100%;
}
/*焦点区域结束*/

/*产品区域开始*/
.main{
	/*height: 2176px;*/
	background-color: #f5f5f5;
}
.phone .phone-area{
	/*height: 618px;*/
	/*background-color: red;*/
}
.phone .phone-left{
	height: 618px;
	transition: all 300ms;

}
.phone .phone-left:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-3px) translateZ(5px);
}
.phone .phone-right{
	height: 618px;
}
.phone .phone-right .product-item{
	height: 300px;
}
/*产品区域结束*/

/*底部导航信息开始*/
.footer{
	height: 274px;
	background-color: green;
}
/*底部导航信息结束*/

/*网站结束信息开始*/
.end{
	height: 168px;
	background-color: skyblue;
}
/*网站结束信息结束